<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IRemoteCard" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRemoteCard">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/SCardService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IRemoteCard" contract="SCardNPService.IRemoteCard"
                name="NetNamedPipeBinding_IRemoteCard">
                <identity>
                    <userPrincipalName value="T60-WINDOWS-8\Olivier" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8001/SCardService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRemoteCard" contract="SCardService.IRemoteCard"
                name="NetTcpBinding_IRemoteCard" />
        </client>
    </system.serviceModel>
</configuration>