<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRemoteCard">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8001/SCardService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRemoteCard" contract="SCardService.IRemoteCard"
                name="NetTcpBinding_IRemoteCard" />
        </client>
    </system.serviceModel>
</configuration>